.keys button{
    width: 50px;
    height: 50px;
    font-size: 11px !important;
    font-size: small;
    
}
.screen input{
    margin: 1px;
    padding: 1px;
    width: 243px;
    height: 47px;
}
.card{
    width: 248px !important;
}
main .cal-body{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}